<%- include('header'); -%>
<%- include ('navbar'); -%>
<div role="main" class="container">
  <br/><br/>
  <h2> <%= message %></h2>
  <p>
      <table>
        <thead> 
    <tr>
      <th>Employee ID</th>
      <th>Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach(function (entry) {%>
      <tr>
        <td><%= entry.employeeID %></td>
        <td><%= entry.Name %></td>
        <td><%= entry.jobTitle %></td>
        <td><a href="/view/<%= entry.lastName %>">VIEW</a></td>
      </tr>
  </tbody>
</table>
<%} else { %> No entries! <a href="/new">Add one!</a>
    <% } %>
</p>
</div>
<br/><br/>
<%- include ('footer'); -%>