<%- include ('header') %>
<%- include ('navbar'); -%>
<div role="main" class="container">
    <br/><br/>
    <h2><%= message %></h2>
    <div class="form">
        <label for="txtFirst">First Name</label>
         <input type="text" class="form-control alert-warning" id="txtFirst">
            </div>
            <div class ="form">
            <label for="txtLast">Last Name</label>
            <input type="text" class="form-control alert-warning"  id="txtLast">
            </div>
            <div class="form">
                <label for="txtJob">Job Title</label>
                <input type="text" class="form-control alert-warning" id="txtJob">
            </div>
            <button class ="save">Save</button>
      </div>
      <div class="form">
          <!-- CSURF -->
          <input name="_csurf" value="<%= csrfToken %>" type="hidden" />
          
          <!-- Submit -->
          <button class ="save-btn">Save</button>
      </div>
</div>
<%- include ('footer') %>