<%- include ('header') -%> <%- include ('navbar'); -%>
<div role="main" class="container">
  <br /><br />
  <h2>View Employee Details</h2>

  <!-- Display employee's record -->
  <div>
    <div class="form">
      <label for="txtFirst">First Name:</label>
      <input
        type="text"
        class="form-control alert-warning"
        id="txtFirst"
        readonly
        value="<%= employee[0].lastName %>"
      />
    </div>
  </div>
  
  <div>
    <div class="form">
      <label for="txtLast">Last Name:</label>
      <input
        type="text"
        class="form-control alert-warning"
        id="txtLast"
        readonly
        value="<%= employee[0].lastName %>"
      />
    </div>
  </div>
  <br /><br />
  <!-- Ok button -->
  <a href="/">&larr; Ok</a>
</div>
<%- include ('scripts') %>
<%- include ('footer') -%>
